.renderSelect {
  background-image: linear-gradient(to top, #eceded, #f1f1f2, #f6f6f6, #fafafb, #ffffff);    height: 100%;
    min-height: 800px;
    overflow: auto;
}

.renderSelect.active {
    visibility: visible;
    opacity: 1;
    display: block;
  
  }
  .renderSelect.inactive {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .configPage {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 700px;
}

.heading{
    font-size: 1.6rem;
    margin: 0.6em auto 0px auto;
    max-width: 1300px;
    width: 70%;
    color: var(--font-color);
    text-align: center;
    font-weight: 500;
  }

.heading2{
    font-size: 1.9rem;
    margin: 0px auto 1.4em auto;
    max-width: 1300px;
    border-bottom: 1px solid #d4d4d4;
    width: 60%;
    color: var(--font-color);
    text-align: center;
    font-weight: bolder;
  }

  .configGrid {
    width: 60%;
    height: auto;
    max-width: 1300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: auto;
  }

  .configGrid > * {
    flex: auto;
    margin: 0.1em;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
  }

  .configGrid { 
    visibility: hidden; 
  }
  
  .configGrid > * { 
    visibility: visible; 
  }
  
  .configGrid > * { 
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; 
  }
  
  .configGrid:hover > * { 
    opacity: 0.4; transform: scale(0.9); 
  }
  
  .configGrid > *:hover { 
    opacity: 1; transform: scale(1.3); 
    transition-delay: 0ms, 0ms; 
  }

  .gridItem {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .gridItem img {
    max-width: 150px;
    max-height: auto;
    object-fit: contain;
    filter: grayscale();
  }

  .gridItem img:hover {
    filter: grayscale(0%);
  }

  .configLogin {
    width: 100%;
    height: 100%;
    min-height: 800px;
    display: flex;
  }

  .configLoginBackground {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .configLoginBackground video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .configLoginBackground img {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
  }

  .backgroundColor {
    background-color: rgba(26, 26, 26, 0.6);
    position: fixed;
    z-index: -0;
    width: 100%;
    height: 100%;
  }

  .configLoginForm {
    position: absolute;
    z-index: 1;
    width: 80%;
    max-width: 1300px;
    background-color: #222222;
    box-shadow: 2px 2px 2px rgb(22, 22, 22);
    height: 90%;
    border-radius: 15px;
    left: 10%;
    top: 5%;
    margin: auto;
    min-height: 500px;
    display: flex;
  }

  .loginContent{
    width: 50%;
    height: 100%;
    background-color: rgb(71, 81, 83);
    border-radius: 15px 0px 0px 15px;

  }

  .loginContent1 {
    width: 80%;
    min-height: 40px;
    max-height: 100px;
    margin: 40px auto 20px auto;
    display: flex;
    align-items: center;
  }

  .contentLoginReturn {
    width: 40px;
    height: 40px;
    margin-right: 25px;
  }
  
  .contentLoginReturn Button {
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: inherit;
    border-radius: 10%;
  }
  .contentLoginReturn Button:hover {
    color: #e2e2e2;
    background-color: var(--bg-effect-color);
  }

  .loginContent1 img {
    height: 50px;
    width: auto;
  }

  .loginContent2 {
    width: 80%;
    margin: 50px auto 10px auto;
  }

  .loginContent2 h4 {
    color: #9A9A8E;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 0.9rem;
  }
  .loginContent2 h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .loginForm {
    width: 80%;
    margin: 40px auto 10px auto;
  }

  .contentLoginButton button {
    width: 100%;
    background-color: var(--bg-button-color);
    margin-top: 20px;
  }
  .contentLoginButton button:hover {
    background-color: var(--bg-effect-color);
  }

  .loginBackgroundImage {
    width: 50%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
  }

  .shadow {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0px 15px 15px 0px;
}

.shadow::before{
    content: " ";
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(71, 81, 83), rgba(0, 0, 0, 0.7));
    opacity: 1;
    position: absolute;
    border-radius: 0px 15px 15px 0px;

}




@media only screen and (max-width: 900px) {
    .configGrid {
        grid-template-columns: repeat(3, 1fr);

      }
      .configLoginForm {
        width: 90%;
        left: 5%;
      }

      .loginContent {
        width: 60%;
      }

      .loginBackgroundImage {
        width: 40%;
      }

      .shadow::before{
        width: 40%;
    }
}
@media only screen and (max-width: 700px) {
    .configGrid {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
      }

      .loginContent {
        width: 70%;
      }

      .loginBackgroundImage {
        width: 30%;
      }

      .shadow::before{
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
  .configLoginForm {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
  }

  .loginContent {
    width: 100%;
  }

  .loginBackgroundImage {
    display: none;  
}

.loginContent {
  border-radius: 0px;
}
}

@media only screen and (max-width: 400px) {
    .configGrid {
        grid-template-columns: repeat(1, 1fr);

      }

      .configGrid {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
  
    }