.containerStyledCard1{
    width: 95%;
    height: 100%;
    max-height: 450px;
    max-width: 1500px;
    margin: 20px;
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 5px;
    overflow: auto;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.StyledBorder{
    background-color: #444;
    color: #fff;
}

.containerStyledCard1 table {
    width: 100%;
    height: auto;
    margin: 10px auto 20px auto;
    border-collapse: collapse;
    max-height: 200px;

}

.containerStyledCard1 tr {
    width: 100%;
    height: auto;
    padding: 30px;
}

.containerStyledCard1 th {
    height: 50px;
    text-align: left;
    padding: 10px;
}

.containerStyledCard1 td {
    height: 60px;
    text-align: left;
    padding: 10px;
    color: var(--font-color);
    border-bottom: 1px solid var(--line-color) ;

}

.StyledTableImg {
    width: 40%;
}

.StyledTableImg img {
    height: 50px;
    object-fit: contain;
    margin: 10px;
}

.StyledName {
    width: 35%;
}

.StyledStatus {
    width: 25%;
}

.StyledStatus button {
    width: 50px;
    color: rgb(206, 9, 9);
    background-color: rgba(0, 0, 0, 0);
}
.StyledStatus button:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

.StyledStatusColor {
    color: var(--font-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.StyledStatusColor.active {
padding: 6px;
border-radius: 5px;
width: 100%;
}
.StyledStatusColor.inactive {
background-color: rgba( 192, 192, 192, 0.3);
opacity: 1;
padding: 6px;
border-radius: 5px;
width: 100%;
}

.ContentStyled {
    width: 100%;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto auto 30px 10px;
    padding-top: 25px;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.ContainerStyled {
    width: 95%;
    height: 85%;
    margin: auto;
    display: flex; 
}

.ContainerStyledImage {
    width: 25%;
    height: 100%;
    min-width: 150px;
    padding-right: 10px;
    border-right: 1px solid var(--line-color);
}

.ContainerStyledImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.ContainerStyledHeader {
    width: 50%;
    height: 100%;
    padding-top: 20px;
}

.ContainerStyledHeader h2 {
    color: #444444;
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
}


.ContainerStyledActive {
    width: auto;
    padding: 0px 10px 0px 10px;
    height: auto;
    max-height: 30px;
    background-color: #4bb543;
    margin-top: -40px;
    margin-left: -20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: flex;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.ContainerStyledActive h4{
    padding: 6px 6px 6px 10px;
    font-size: 1.1rem;
}

.StyledIcon {
    margin-top: 2px;
}

.MuiInputBase-root .MuiOutlinedInput-root {
color: red;
}

@media only screen and (max-width: 950px) {
    .ContentStyled{
        width: 75%;
    }

    .ContainerStyledImage {
        width: 30%;
    }

    .containerStyledCard1 {
        box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.3);
        margin-bottom: 50px;
    }
    
}


@media only screen and (max-width: 900px) {
    .containerStyledCard1{
        overflow-x: initial;
        max-height: 600px;
        height: auto;
        margin-bottom: 20px;
    }

    
}

@media only screen and (max-width: 700px) {
    .ContentStyled{
        width: 85%;
    }

    

    .ContainerStyledActive h4{
        font-size: 0.9rem;
    }

    .ContainerStyledHeader h2 {
        font-size: 1.5rem;
        padding-left: 15px;

    }

    .containerStyledCard1 {
       margin-bottom: 200px;
       overflow-x: auto;
    }
}

@media only screen and (max-width: 500px) {
    .ContainerStyledActive {
        margin-left: -70px;
    }
    
    .ContainerStyledHeader h2 {
        font-size: 1.2rem;
        padding-left: 15px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .ContentStyled{
        margin-top: 40px;
        width: 95%;
        margin: auto auto auto 10px;
    }

}